spring:
    datasource:
        url: "jdbc:mysql://127.0.0.1:3306/taskboard?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
        username: admin
        password: admin
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                "[format_sql]": true
server:
    port: 8080